//Global variables
body{font-family: 'Roboto', sans-serif;}
p{font-weight: 300;}

//Custom font class
.letter-space-sm{letter-spacing: 0.03em;}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }

//Bootstrap overwrite
.nav-link{font-weight: 300;}

//Components
.container-left{
    background: center / cover no-repeat url(../assets/background.jpg);

    position: static;

    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;

    width: 100%;
    height: 360px;
    z-index: 2;

    //Desktop
    @media(min-width: 768px){
        position: fixed;
        top: 0;
        left: 0;

        width:50%; 
        height: 100vh;

        padding-top: 12vh;
        padding-bottom: 12vh;
        padding-left: 5.5vw;
        padding-right: unset;
    }

    //Extreme Desktop
    // @media(min-width: 1400px){
    //     width: calc(50% - 8vw);
    //     padding-left: 8vw;
    // }

    //Mobile
    @media(max-width: 576px){
        position: sticky;
        top: 0;

        width:100%; 
        max-width: 576px;
        height: max-content;

        padding-top: 24px;
        padding-right: unset;
        padding-left: unset;
    }
  }

.container-right{
    width: 100%;
    padding-top: 80px;
    @media(max-width: 576px){
        padding-left: 30px;
        padding-right: 30px;
    }
    //Desktop
    @media(min-width: 768px){
        width: 50%;
        padding-top: 12vh;
        padding-bottom: 12vh;
        height: 100vh;
    }
    //Extreme Desktop
    //  @media(min-width: 1400px){
    //     margin-right: 8vw;
    //  }
}

.hero-box{
    width: fit-content;
    color: #DFE6F0;

    h1{font-weight: 800;color: #f8f9fa;}
    h4{font-weight: 200;}
    
    //Mobile
    @media(max-width: 576px){
        margin-left: 30px;
    }
}

.hover-wrap{
    position: relative;
    transition-duration: 500ms;
    .hover-textbox{
        display: none;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        h2{letter-spacing: 0.03em;}
    }
    &:hover{
        .hover-textbox{display: block;transition: .5s ;}
        img{filter: brightness(0.3);transition-duration: 500ms;}
    }
}

.aboutme-wrap{
    .aboutme-textbox{
        //Desktop
        @media(min-width: 768px){
            max-width: 80%;
        }
    }
    .aboutme-textbox~.aboutme-textbox{
        margin-top: 80px;
        //Desktop
        @media(min-width: 768px){
            margin-top: 12vh;
        }
    }
}

//Global class
i.rounded-circle{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50% !important;
}
