//Global variables
body{font-family: 'Roboto', sans-serif;}
p{font-weight: 300;}

//Custom font class
.letter-space-sm{letter-spacing: 0.03em;}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }

//Bootstrap overwrite
.nav-link{font-weight: 300;}

//Components
.container-left{
    background: center / cover no-repeat url(../assets/background.jpg);
    position: static;    
    height: 360px;
    width: 100%;
     
    //Desktop
    @media(min-width: 768px){
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        width:50%;
    }
     //Mobile
    @media(max-width: 576px){
        position: static;

        width:100%; 
        max-width: 576px;

        height: max-content;
        min-height: 360px;
    }
   
    .container-left-wrapper{
        padding-top: 60px;
        margin-left: 80px;
        margin-right: 80px;

        height: 100%;

        //Desktop
        @media(min-width: 768px){
            padding-top: 12vh;
            padding-bottom: 12vh;
            margin-left: 5.5vw;
            margin-right: unset;
        }

        //Extreme Desktop
        // @media(min-width: 1400px){
        //     width: calc(50% - 8vw);
        //     margin-left: 8vw;
        // }

        //Mobile
        @media(max-width: 576px){
            padding-top: 24px;
            margin-right: unset;
            margin-left: unset;
        }
    }




  }

.container-right{
    width: 100%;
    margin-top: 80px;
    @media(max-width: 576px){
        padding-left: 30px;
        padding-right: 30px;
    }
    //Desktop
    @media(min-width: 768px){
        width: 50%;
        margin-top: 12vh;
    }
    //Extreme Desktop
    //  @media(min-width: 1400px){
    //     margin-right: 8vw;
    //  }
}

.hero-box{
    width: fit-content;
    color: #DFE6F0;

    h1{font-weight: 800;color: #f8f9fa;}
    h4{font-weight: 200;}
    
    //Mobile
    @media(max-width: 576px){
        margin-left: 30px;
    }
}

.hover-wrap{
    position: relative;
    .hover-textbox{
        display: none;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        h2{letter-spacing: 0.03em;}
    }
    &:hover{
        .hover-textbox{display: block;transition: .5s ease;}
        img{filter: brightness(0.3);transition: .5s ease;}
    }
}

.aboutme-wrap{
    .aboutme-textbox{
        //Desktop
        @media(min-width: 768px){
            max-width: 80%;
        }
    }
    .aboutme-textbox~.aboutme-textbox{
        margin-top: 80px;
        //Desktop
        @media(min-width: 768px){
            margin-top: 12vh;
        }
    }
}


